---
layout: page.liquid
title: front_page
wordmark: solid
---

<div class="content cards">  
  <a href="{{ '/verkefni' | locale_url }}" class="card-link">
    <div class="card card--olive">
      <div class="photo-frame"><img src="/images/portrait.jpg" alt="Portrait"></div>
      <p class="lorem">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
      <h3>Hvað höfum við gert</h3>
    </div>
  </a>

  <a href="{{ '/starfsemi' | locale_url }}" class="card-link">
    <div class="card card--teal">
      <h3 class="head">Það sem <span class="hl">við</span> getum <span class="hl">gert</span> fyrir þig</h3>
      <p class="lorem">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
      <div class="photo-frame"><img src="/images/portrait.jpg" alt="Portrait"></div>
    </div>
  </a>

  <a href="{{ '/um-okkur' | locale_url }}" class="card-link">
    <div class="card card--plum">
      <div class="photo-frame"><img src="/images/portrait.jpg" alt="Portrait"></div>
      <p class="lorem">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmo</p>
      <h3>Allt um okkur</h3>
    </div>
  </a>

  {% include '_contact-link.liquid' %}

</div>
